{% load bootstrap3 %}
{% load staticfiles %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Pagina principal</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/Styles.css' %}">
</head>
<body>
<header>
	<div id="titulo_inicio" class="row">
		<br>
		<h1><center>INFRACCIONES</center></h1>
		<br>
	</div>
</header>	

<div class="container">
	<div class="row row-eq-height">
		<div id="Inicio_izquierda" class="col-xs-6 col-sm-6 col-md-6 col-lg-6" >
			<p>
				<h1><center>Consultas</center></h1>
				<form method="POST">
					{% csrf_token %}
					<center>{% bootstrap_form form %}</center>
					<center>
					<button class="btn btn-primary">Consulta</button>
					<button class="btn btn-primary" type="reset">Restablecer</button>
					</center>
					
				</form>
			</p>
												
		</div>

		<div id="Inicio_derecha" class="col-xs-6 col-sm-6 col-md-6 col-lg-6" >
			<p>	<br>
				<h1><center>Panel Administrativo</center></h1>
				<center><form name ="ver" method="GET" action="/Administradores/" >
					<button id="ver" class="btn btn-primary">Ver</button>
				</form></center>

		</div>


	</div>
</div>



</body>
</html>